.ace_, .hljs-{
  &modx- {
    &tag-name {
      color: #458;
      font-weight: bold;
    }
    
    &prefix {
      color: #d14;
    }
    
    &property-name {
      color: #008080;
    }
    
    &output-modifier {
      color: #008080;
    }
    
    &property-set {
      color: #008080;
    }
  }
}