<div class="md-card instagram" [[+card_width:notempty=`style="width:[[+card_width]];"`]]>
    <div class="card-header">
        [[+favicon_url:notempty=`<img src="[[+favicon_url]]" width="16" height="16" alt="[[+provider_name]]"/>`]]
        <a href="[[+provider_url]]">[[+provider_name]]</a>
        [[+author_name:notempty=`<span class="author"><a href="[[+author_url]]">[[+author_name]]</a></span>`]]
    </div>
    <div class="card" style="border-left-color: [[+color]];">
        <a href="[[+original_url]]"><img src="[[+media.url]]" /></a>
    </div>
</div>