.amazon {
  .price-details {

    p {
      margin-bottom: 0;
    }
    
    .price {
      font-size: 24px;
      display: block;
      margin-bottom: 5px;
    }

    .list-price {
      text-decoration: line-through;
    }
  }

  .subhead {
    margin-bottom: 5px;
    color: #7f7f7f;
  }
}