.markdown-container {
  position: relative;

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;

        #content-md,
        #preview-md {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 5px;
//            overflow: auto;
        }
        #content-md {
            left: 0;
            right: 50%;
            height: auto !important;

//            .ace_scroller {
//                overflow: auto;
//            }
//            .ace_content {
//                height: auto !important;
//                position: absolute;
//                top: 0;
//                left: 0;
//                right: 0;
//                bottom: 0;
//            }
        }
        #preview-md {
            left: 50%;
            right: 0;
            background: #ffffff;
            overflow-y: auto;
        }
    }
}

#content-md,
#preview-md {
}

#preview-md {
//  width: 500px !important;
  min-height: 412px;
  display: none;
}

#content-md {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#toolbox {
  position: absolute;
  z-index: 999;

  right: 10px;
  bottom: 35px;
}

#fullscreen-button,
#preview-button {
  background-color: #f0f0f0;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
    background: #ccc;
  }
}

#status-bar {
  background: rgba(39, 40, 34, 0.78);
  height: 25px;
  position: relative;
  top: -1px;
  z-index: 999;
  border: 1px solid #E4E4E4;
  border-top: none;
  color: #F0F0F0;
  font-size: 12px;
  line-height: 25px;
  padding-left: 10px;
}