.markdown-container {
  position: relative;

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;

        #content-md,
        #preview-md {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            overflow: auto;
        }
        #content-md {
            left: 0;
            right: 50%;
            height: auto !important;

            .ace_scroller {
                overflow: auto;
            }
            .ace_content {
                height: auto !important;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        #preview-md {
            left: 50%;
            right: 0;
            background: #ffffff;
        }
    }
}

#content-md,
#preview-md {
}

#preview-md {
//  width: 500px !important;
  min-height: 412px;
  display: none;
}

#toolbox {
  position: absolute;
  z-index: 999;

  right: 10px;
  bottom: 25px;
}

#fullscreen-button,
#preview-button {
  background-color: #f0f0f0;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
    background: #ccc;
  }
}